.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/frontend/public/hero.jpg") center/cover no-repeat;
    padding: 8rem 4rem;
}

.hero .hero__title {
    font-family: "Imperial Script", serif;
    font-size: var(--size-6xl);
    color: var(--clr-light);
    text-align: center;
}

.hero .hero__description {
    color: var(--clr-light);
    text-align: center;
    opacity: 0;
    animation: textEffect 1s normal forwards;
}

/* XS */
/* @media (min-width: 475px) {

} */

/* S */
/* @media (min-width: 640px) {

} */

/* M */
@media (min-width: 768px) {
    .hero {
        padding: 8rem 4rem;
    }
    
    .hero .hero__title {
        font-size: var(--size-8xl);
    }
}

/* L */
/* @media (min-width: 1024px) {

} */

/* XL */
/* @media (min-width: 1280px) {

} */

/* XXL */
/* @media (min-width: 1536px) {

} */

@keyframes textEffect {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}